.App {
  text-align: center;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 4.5em;
  font-family: sans-serif
}

.App-intro {
  font-size: large;
}

body {
  background: #3a7bd5;
  background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
  background: linear-gradient(to right, #3a6073, #3a7bd5);
}

.card-header {
  background-color: lightgray;
}

input {
  width: 96%;
}